
<p>公開済みの記事数: <%= @published_article_count %>件</p>
  <% if @articles_published_at_yesterday.present? %>
    <p>昨日公開された記事: <%= @article_published_at_yesterday %>件</p>
    <% @articles_published_at_yesterday.each do |article| %>
    <p>タイトル: <%= article.title %></p>
    <% end %>
  <% else %>
<p>昨日公開された記事はありません</p>
<% end %>
